*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / clamp(220px, 15%, 300px) 1fr;
}

nav {
  color: white;
  grid-area: 1 / 1 / 3 / 2;
  background-color: mediumseagreen;

}

h1 {
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 0.8rem 0.6rem;
}

h1 svg {
  width: 20%;
}

svg {
  width: 1.3rem;
  min-width: 1.3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav div {
  gap: 2.5rem;
  display: flex;
  padding: 1.2rem 1.4em;
  flex-direction: column;
}

nav svg {
  fill: white;
}

nav li a {
  gap: 1rem;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  margin-bottom: 1rem;
  text-decoration: none;
}

header {
  z-index: 1;
  gap: 1.1rem;
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  grid-template: 2rem 1fr / 2fr 1fr;
  padding: 1rem 2.3rem 0.7rem 2.1rem;
  box-shadow: 2px 1px 5px darkgray;
}

header a {
  height: 2rem;
  border: none;
  color: white;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
  justify-content: center;
  background-color: mediumseagreen;
}

small {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

img {
  border-radius: 50%;
}

main {
  gap: 1rem;
  display: grid;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  font-size: 12px;
  grid-area: 2 / 2 / 3 / 3;
  background-color: #e2e8f0;
  grid-template-columns: 3fr 1.1fr;
}

main p {
  color: dimgray;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 14px;
}

.search {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.search input {
  flex: 1;
  border: none;
  padding-left: 1rem;
  border-radius: 1rem;
  background-color: #e2e8f0;
}

.notfication {
  gap: 1.5rem;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  padding-right: 1rem;
  justify-content: end;
}

.notfication img,
.users img {
  width: 2.2rem;
  height: 2.2rem;
}

.welcome {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.welcome img {
  width: 3.3rem;
}

.post {
  gap: 1rem;
  display: grid;
  align-items: center;
  justify-content: end;
  grid-template-columns: repeat(3, minmax(5rem, 10rem));
}

.projects {
  display: flex;
  flex-direction: column;
}

.cards {
  flex: 1;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards section {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card {
  display: grid;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  border-left: 0.4rem solid red;
  box-shadow: 1px 1px 5px darkgray;
}

.actions {
  gap: 1rem;
  display: flex;
  align-self: end;
  justify-self: end;
  margin-right: 0.3rem;
}

.sidebar {
  gap: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcements-section,
.trending {
  display: flex;
  flex-direction: column;
}

.announcements-section h5,
.announcements-section p {
  font-size: 11px;
}

.announcements {
  flex: 1;
  display: grid;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 1px 1px 5px darkgray;
}

.announcement {
  padding: 0.5rem 0.5rem;
}

.announcements> :nth-child(1),
.announcements> :nth-child(2) {
  border-bottom: 1px solid darkgray;
}

.users {
  flex: 1;
  display: grid;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px darkgray;
}

.user {
  gap: 1rem;
  display: flex;
}

.at-name {
  color: black;
}