*,
*::before,
*::after {
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns:  clamp(220px, 15%, 300px) 1fr;
}

nav {
  color: white;
  grid-area: 1 / 1 / 3 / 2;
  background-color: mediumseagreen;
  
}

h1 {
  gap: 5px;
  padding: 0.8rem 0.6rem;
  display: flex;
  align-items: center;
}

h1 svg {
  width: 20%;
}

svg {
  width: 1.3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav div {
  gap: 2rem;
  display: flex;
  padding: 1rem 1.5em;
  flex-direction: column;
}

nav svg {
  fill: white;
}

nav li a{
  gap: 1rem;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  margin-bottom: 12px;
  text-decoration: none;
}

header {
  z-index: 1;
  gap: 1.3rem;
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  padding: 1rem 2rem 0.5rem;
  grid-template: 2rem 1fr / 2fr 1fr;
  box-shadow: 2px 1px 5px darkgray;
}

small {
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

img {
  border-radius: 50%;
}

button {
  height: 2rem;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: mediumseagreen;
}

main {
  display: grid;
  padding: 1rem;
  font-size: 12px;
  grid-area: 2 / 2 / 3 / 3;
  background-color: #e2e8f0;
  grid-template-columns: 3fr 1fr;
}

.search {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.search input {
  flex: 1;
  border: none;
  padding-left: 1rem;
  border-radius: 1rem;
  background-color: #e2e8f0;
}

.notfication {
  gap: 1.5rem;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  padding-right: 1rem;
  justify-content: end;
}

.notfication img {
  width: 2.2rem;
}

.welcome {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.welcome img {
  width: 3.5rem;
}

.post {
  gap: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(75px, 100px));
}

.announcements {
  font-size: 10px;
}